---
const { items } = Astro.props;
---

<section
  class="relative bg-black w-full max-w-full h-[500px] min-h-[400px] flex items-center justify-center overflow-hidden group mx-auto"
>
  <div class="carousel w-full h-full overflow-hidden text-white relative">
    <div
      class="slides h-full flex transition-transform duration-500 ease-in-out"
    >
      <!-- Las imagenes deben ser de 1894x575 -->
      {
        items.map((banner: any) => (
          <a
            href={banner.link}
            target={banner.target}
            class="min-w-full h-full"
          >
            <img
              src={banner.image}
              alt={banner.title}
              class="slide w-full h-full object-cover"
              style="width:100%;height:100%;object-fit:cover;"
            />
          </a>
        ))
      }
    </div>
  </div>

  {
    items.length > 1 && (
      <div class="carousel-buttons opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
        <span class="carousel-button absolute left-0 text-gray-300 text-5xl px-1 cursor-pointer m-2 z-10 hover:scale-110">
          <i class="fa-solid fa-chevron-left"></i>
        </span>
        <span class="carousel-button absolute right-0 text-gray-300 text-5xl px-1 cursor-pointer m-2 z-10 hover:scale-110">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </div>
    )
  }
</section>

<script lang="ts" is:inline>
  const delay = 5000;

  const slides = document.querySelector(".slides");
  const slideCount = slides.childElementCount;
  const maxLeft = (slideCount - 1) * 100 * -1;

  let current = 0;

  function changeSlide(next = true) {
    if (next) {
      current = current > maxLeft ? current - 100 : 0;
    } else {
      current = current < 0 ? current + 100 : maxLeft;
    }

    slides.style.transform = `translateX(${current}%)`;
  }

  let autoChange = setInterval(changeSlide, delay);
  const restart = function () {
    clearInterval(autoChange);
    autoChange = setInterval(changeSlide, delay);
  };

  document
    .querySelector(".fa-chevron-left")
    .addEventListener("click", function () {
      changeSlide(false);
      restart();
    });

  document
    .querySelector(".fa-chevron-right")
    .addEventListener("click", function () {
      changeSlide(true);
      restart();
    });
</script>
